.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-screen{
  position: absolute;
  top: 4%;
  left: 2.5%;
  width: 95vw;
  height: 92vh;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 15px #00347026;
  opacity: 1;
}

.home-screen-picture{
  width: 58%;
  height: inherit;
  position: absolute;
  right: 0;
}

.home-screen-logo{

  position: absolute;
  left: 10%;
  top: 17.5%;
  width: 20vw;
  height: 7.59vh;
}
@font-face {
  font-family: Monsterrat-Regular;
  src: url(./pics/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Monsterrat-ExtraBold;
  src: url(./pics/Montserrat/Montserrat-ExtraBold.ttf);
}
@font-face {
  font-family: Montserrat-Bold;
  src: url(./pics/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
  font-family: Montserrat-SemiBold;
  src: url(./pics//Montserrat/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: Monsterrat-Light;
  src: url(./pics/Montserrat/Montserrat-Light.ttf);
}

.login-title{
width: 10vw;
height: 2.2vh;
font-size: 1vw;
position: absolute;
left: 17%;
top: 30%;
font-family:  Montserrat-Bold;
}
.login-button{
  width: 26vw;
  height: 3.8vh;
  font-family: Monsterat-Bold;
  background-color: #08C642;
  border: 0.5px solid var(--unnamed-color-0d242e);
  border: 0.5px solid #08C642;
  border-radius: 0.2vw;

  margin-top: 8.2vh;
  color:  white;
  font-size: 1vw;
}
.login-button:hover:enabled{
  font-size: 1.2VW;
  width: 26.1vw;
  height: 3.9vh;
  background-color: #20e45bd2 ;
}
.login-input{
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  height: 3.8vh;
  margin: 0%;
  border: 0.5px solid var(--unnamed-color-0d242e);
  border: 0.5px solid #0D242E;
  border-radius: 0.2vw;
  width: 25vw;
  font-size: 1vw;

}
.login-screen{
  position: fixed;
  left: 8.5%;
  top: 41%;
}
.response{
  font-family: Monsterrat-SemiBold;
  font-size: 1.5vw;
  width: 10vw;
  background-color: white;
  box-shadow: 0px 5px 15px #00347026;
  position: fixed;
  left: 45%;
  top: 40%;
  text-align: center;
}
.recover-password{
  position: fixed;
  left: 27%;
  top: 63%;
  font-size: 0.9vw;
}
.new-user-text{
  position: fixed;
  top: 76%;
  left: 13.5%;
  font-size: 0.9vw;
}
.register-redirect{
  color: #1076B5;
}
#eye{
  position: fixed;
  top: 58.8%;
  left: 33%;
  width: 1vw;
  height: 2vh;
}
#eyeR{
  position: fixed;
  top: 68.8%;
  left: 33%;
  width: 1vw;
  height: 2vh;
}
#eye:hover{
  cursor: pointer;
  width: 1.1vw;
  height: 2.1vh;
}
#eyeR:hover{
  cursor: pointer;
  width: 1.1vw;
  height: 2.1vh;
}

.eye2{
  background-color: rgba(0, 128, 0, 0.253);
  border-radius: 2vw;
}
.eye2R{
  background-color: rgba(0, 128, 0, 0.253);
  border-radius: 2vw;
}

.form-box{
  height: 6.5vh;
  margin-top: 3.7vh;
  width: 26vw;
  font-size: 1.2vw;
  font-family: Monsterrat-Light;
}
button:disabled{
  opacity: 50%;;
}
button:hover:enabled{
  cursor: pointer;
}
/*---------------------------------------------------------Register screen ------------------------------------------- */
.register-title{
  width: 25vw;
height: 2.2vh;
font-size: 1vw;
position: absolute;
left: 8.5%;
top: 30%;
font-family:  Montserrat-Bold;
}
.register-title2{
  width: 25vw;
  height: 2.2vh;
  font-size: 1vw;
  position: absolute;
  left: 14%;
  top: 38%;
  font-family:  Montserrat-SemiBold;
}
.register-screen{
  position: fixed;
  left: 8.5%;
  top: 41%;
}

.login-redirect{
  color: #08C642;
}

.register-button{
  width: 26vw;
  height: 3.8vh;
  font-family: Monsterat-Bold;
  background-color: #1076B5;
  border: 0.5px solid var(--unnamed-color-0d242e);
  border: 0.5px solid #1076B5;
  border-radius: 0.2vw;

  margin-top: 8.2vh;
  color:  white;
  font-size: 1vw;
}

.new-user-text{
  position: fixed;
  top: 85%;
}

/*--------------------------------------------HOME VIEW------------------------------------*/
.header{
  height: 5.8vh;
  background-color: white;
  box-shadow: 0px 0.4vh 0.6vw #00000029;
}

.book-view-logo{
  position: fixed;
  left: 2.6%;
  top: 1%;
  width: 7vw;
  height: 2.7vh;
  
}
.books-screen{
  width: 94.7vw;
  height: 87.1vh;
  position: fixed;
  left: 2.65%;
  top: 8.7%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2.5vh 4.5vw #00347026;
  border-radius: 0.5vw;
}
.library-button{
  position: fixed;
  left: 43.8%;
  top: 1%;
  text-decoration: none;
}

.settings-button{
  position: fixed;
  left: 52.1%;
  top: 1%;
  text-decoration: none;
}
#disabled-link.settings-button{
  left: 50.6%;
}
#disabled-link.library-button{
  left: 42.4%;
}
a.settings-button, a.library-button{
  font-family: Monsterrat-ExtraBold;
  color: black;
}
a#disabled-link {
  pointer-events: none;
  cursor: pointer;
  padding: 1vw;
  background-color: white;
  border-bottom-style:solid;
  border-color: #08C642;
  border-width: 0.3vw;
  position: fixed;
  top: -1.3%;
  text-decoration: none;
}
a#active-link{
  font-family: Monsterrat-Regular;
  font-size: 0.8vw;
}
.pfp{
  width: 1.9vw;
  height: 3.3vh;
  position: fixed;
  right: 1%;
  top: 1%;
}
.pfp:hover{
  width: 2vw;
  height: 3.5vh;
  cursor: pointer;
}

.books-screen-label{
  position: fixed;
  top: 13.5%;
  left: 4.7%;
  font-size: 1.2vw;
  font-family: Monsterrat-ExtraBold;
}

.search-bar{
  width: 25vw;
  height: 3.7vh;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.137);
  border-width: 0.2vw;
  border-radius: 0.3vw;
  padding-left: 0.5vw;
  position: fixed;
  top: 14.3%;
  left: 13.3%;
  font-size: 1vw;
}
.search-button{
  width: 1vw;
  height: 2vh;
  left: 37.5%;
  top: 15.7%;
  position: fixed;
  opacity: 60%;
}
.search-button{
  cursor: pointer;
}

.book-grid{
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  left: 3.3%;
  top: 20%;
  height: 75vh;
  overflow: auto;
}
.book-grid::-webkit-scrollbar-track {
  display: none;
}
.book-grid::-webkit-scrollbar {

  width: 0.5vw;
  background-color: #F5F5F5;
}

.book-grid::-webkit-scrollbar-thumb {
  height: 50px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}
/*-------------------------------------------------SEARCH RESULTS (SINGLE BOOK)---------------------------------*/
.book-placeholder{
  display: flex;
  flex-direction: row;
  width: 44.7vw;
  height: 19vh;
  font-size: 0.8vw;
  box-shadow: 0px 0.5vw 1.5vh #00000017;
  border-radius: 0.5vw;
  margin: 1vh 1vw;
}

.b-p-image{
  width: 6.5vw;
  height: inherit;
  border-radius: 0.4vw;
}
.b-p-data{
  padding: 1vh 1vw;
  width: 34.5vw;
  display: block;
  height: inherit;
}
.b-p-genre{
  padding: 0;
  margin: 0;
  font-family: Monsterrat-Regular;
}
.b-p-genre-description{
  font-family: Monsterrat-ExtraBold;
}
.b-p-data .b-p-title{
  font-family: Monsterrat-ExtraBold;
  margin-bottom: 0.5vh;
  font-size: 1vw;
  padding: 0;
}
.b-p-author{
  font-family: Monsterrat-ExtraBold;
  color: #1076B5;
  margin-bottom: 1.5vh;
}
.b-p-date{
  font-family: Monsterrat-Regular;
  display: flex;
  flex-direction: row;
}
.b-p-created{
  margin-right: 3vw;
}

.single-book-redirect-icon{
  width: 0.9vw;
  height: 2.3vh;
}
.single-book-redirect{
  align-content: center;
  width: 1.7vw;
  background-color: #1076B5;
  border-radius: 0.65vw;  
}
.single-book-redirect:hover{
  background-color: #4199cf;
}

/*---------------------------------------------------------SINGLE BOOK PAGE-----------------------------*/

.book-cover{
  width: 29vw;
  height: 80vh;
  top: 7.5%;
  position: fixed;
  left: 2.5%;
  box-shadow: 0px 0.5vw 3vh #00347026;
  z-index: 10;
  padding: 4vh 3vw;
  background-color: white;
  
}

.book-data{
  width: 62vw;
  height: 65vh;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0.5vw 3vh #00347026;
  position: fixed;
  left: 35%;
  top: 22%;
  z-index: 1;
}

.single-book-title{
  background-color: #08C642;
  height: 5vh;
  width: 53vw;
  padding: 1vh 9vw;
  padding-right: 4.1vw;
  padding-top: 2vh;
  font-size: 1.5vw;
  left: 31%;
  position: fixed;
  color: white;
  font-family: Monsterrat-Regular;
}

.book-data-container{
  position: relative;
  left: 8%;
  top: 20%;
  width: 54vw;
  height: 38vh;
  background-color: rgb(255, 255, 255);
}

.s-b-author{
  color: #1076B5;
  font-family: Monsterrat-ExtraBold;
  font-size: 1vw;
  margin-bottom: 4vh;
}

#single-book-data{
  font-size: 0.9vw;
  font-family: Monsterrat-Regular;
  margin-bottom: 4vh;
}
.s-b-updated{
  margin-bottom: 6vh;
}
.important{
  font-size: 0.9vw;
  font-family: Monsterrat-ExtraBold;
}
.back-button{
  position: fixed;
  left: 30%;
  top: 1%;
  font-size: 1vw;
  font-family: Monsterrat-Regular;
}
#display1{
  text-decoration: none;
  color: black;
}
#display2{
  display: none;
}

/*-----------------------------------------------------SETTINGS ----------------------------------------*/
.dual-settings{
  display: flex;
  flex-direction: row;
}
.split1, .split2{
  width: 44vw;
  height: 85vh;
  box-shadow: 0px 0.5vw 1.5vw #00347026;
  border-radius: 0.5vw;
  position: fixed;
  top: 8.7%;
  padding: 1vh 1vw;
}

.split1{
  left: 2.6%;

}
.split2{
  left: 51.4%;
}
.settings-label{
  font-size: 1.1vw;
  margin: 3%;
  margin-top: 4%;
  font-family: Monsterrat-ExtraBold;
}
.settings-add-button{
  background-color: #08C642;
  color: white;
  border: none;
  border-radius: 0.3vw;
  font-size: 0.9vw;
  margin: 3%;
  width: 7.8vw;
  height: 3.8vh;
  font-family: Monsterrat-ExtraBold;
}
.settings-add-button:hover{
  background-color: #20e45bd2;
  width: 7.9vw;
  height: 3.9vh;
  font-size: 1vw;
}
.settings-div2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.settings-list{
  margin-top: 5vh;
  margin-left: 1.1vw;
}

.settings-row{
  font-family: Monsterrat-Bold;
  margin-bottom: 1.8vh;
  display: flex;
  flex-direction: row;
}
.settings-list-text{
  white-space: nowrap;
  padding-top: 0.5vh;
  font-size: 0.9vw;
  font-family: Monsterrat-Light;
  font-weight:bolder;
}
.left-end{
  width: fit-content;
  margin-right: 1vw;
  float: left;
  word-wrap: normal;

}
.line{
  width:1000%;
  margin-bottom: 2.7vh;
  border-bottom-style: solid;
  border-width: 0.5vh;
  border-color: #4199cf;
  float:left;
  overflow: hidden;
}